<div class="">
  お題の確認
</div>

<%= form_for :boke, url: bokes_path do |f| %>
  <%= f.hidden_field :odai_id %>
  <%= f.hidden_field :text %>
  <%= f.hidden_field :tag %>
  <%= f.hidden_field :category %>

  <div class="">
    <%= image_tag @odai.photo.image %>
  </div>


  <div class="field">
    <%= f.label :ボケテキスト %><br />
    <%= @boke.text %>
  </div>
  <div class="field">
    <%= f.label :タグ %><br />
    <%= @boke.tag%>
  </div>
  <div class="field">
    <div class="">カテゴリ(*必須)  </div>
      <%= @boke.category %>
    </div>

  <div class="">
     著作権・肖像権の侵害に当たる画像や暴力的、卑猥な画像の投稿は禁止しております。 詳しくは利用規約をご覧ください。
  </div>

  <%= f.submit value: "確認画面へ"%>
<% end %>
