<!DOCTYPE html>
<html>
  <head>
    <title>Bokete5</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="navbar">
    <%= link_to image_tag('https://bokete.jp/images/logo.png', class: "navbar__logo"), root_path%>
    <ul class="navbar__list">
      <li class="navbar__list--item"><%= link_to "ボケ", bokes_path, {class: "navbar__list--item__link"} %></li>
      <li class="navbar__list--item"><%= link_to "お題", odais_path, {class: "navbar__list--item__link"} %></li>
      <li class="navbar__list--item"><%= link_to "職人", bokes_path, {class: "navbar__list--item__link"} %></li>
    </ul>
  </div>


  <body>
    <%= yield %>
  </body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if user_signed_in? %>
    <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
    <p><%= link_to "ホーム", root_path %></p>

  <% end %>
</html>
