<!DOCTYPE html>
<html>
  <head>
    <title>Bokete5</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="container">
    <div class="navbar">
      <%= link_to image_tag('https://bokete.jp/images/logo.png', class: "navbar__logo"), root_path%>
      <ul class="navbar__list">
        <li class="navbar__list--item"><%= link_to "ボケ", bokes_path, {class: "navbar__list--item__link"} %></li>
        <li class="navbar__list--item"><%= link_to "お題", odais_path, {class: "navbar__list--item__link"} %></li>
        <li class="navbar__list--item"><%= link_to "職人", bokes_path, {class: "navbar__list--item__link"} %></li>
      </ul>
    </div>
    <div class="top-news">
      <div class="top-news__current-place">
        <img class="top-news__current-place--image" src="https://bokete.jp/images/show_image.png" alt="">
        <span>ボケて（bokete）トップ</span>
      </div>
      <div class="top-news__right">
        <div class="top-news__right--item">ボケ投稿数</div>
        <div class="top-news__right--item">お題投稿数</div>
        <div class="top-news__right--item"><span>safe on<span></div>
      </div>
    </div>
  </div>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if user_signed_in? %>
    <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
    <p><%= link_to "ホーム", root_path %></p>

  <% end %>
</html>
